:root {
    --primary-color: #f5bd10;
    --background-color-1: #f7f7f7;
    --background-color-2: #202020;
    --text-title: #252525;
    --text-content: #636363;
}
.four-squares-icon {
    width: 10px;
    height: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  
.square {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
}

/* INDEX */

/* ============ POP UP ================== */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 15;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(0, 0%, 0%, 0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    -webkit-animation: popup 1s ease-in-out 5s forwards;
    animation: popup 1s ease-in-out 5s forwards;
}

@-webkit-keyframes popup {

    0% {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
}
  
@keyframes popup {
  
    0% {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    100% {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
}

.popup__close-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
  
.popup__content{
    position: relative;
    background-repeat: no-repeat;
    width: 800px;
    height: 450px;
    z-index: 2;
    background-color: rgba(255,255,255, 1);
    padding: 80px 68px;
    -webkit-animation: scaleUp 0.5s ease-in-out 5s forwards;
          animation: scaleUp 0.5s ease-in-out 5s forwards;
}

.popup__content::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background-color: var(--primary-color);
}

@-webkit-keyframes scaleUp {

    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
  
  }
  
  @keyframes scaleUp {
  
    0% { -webkit-transform: scale(0.9); transform: scale(0.9); }
    100% { -webkit-transform: scale(1); transform: scale(1); }
  
  }

.popup__close-btn button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 35px;
    height: 35px;
    color: var(--primary-color);
    background-color: #000000;
}
.popup__close-btn button:hover {
    opacity: 0.8;
}
.popup__title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #252525;
    padding: 0;
    margin-bottom: 20px;
}
  
.popup__subtitle {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #252525;
    padding: 0;
    margin-bottom: 30px;
}
.popup__box {
    padding-left: 30px;
}
.popup__input-text{
    border: none;
    width: 600px;
    height: 60px;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.popup__input-text:focus {
    border: none;
    color: #252525;
}
.popup__input {
    margin-bottom: 10px;
}
.popup__box-btn {
    border: none;
    width: 600px;
    height: 60px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.popup__checkbox input {
    
    
}
  
.popup-checkbox__label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #252525;
}
/* ============ HEADER =============== */

.header {
    font-family: 'Roboto', sans-serif;
}
/* HEADER-TOP */
.header__top {
    background-color: var(--background-color-1);
}

.header-top__container {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.header-top__left {
    display: flex;
    -webkit-display: flex;
}
.header-top__left {
    border-left: 1px solid #e1e1e1;
}
.header-top__left li{
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-right: 1px solid #e1e1e1;
    cursor: pointer;
}

.header-top__left-link {
    color: #363636;
    font-size: 14px;
}

.header-top__left li:hover {
    background-color: var(--primary-color);
}

.header-top__left li:hover .header-top__left-link {
    color: #fff;
}

.header-top__right {
    display: flex;
    -webkit-display: flex;
    padding: 0;
}

.header-top__right {
    border-left: 1px solid #e1e1e1;
}

.header-top__right li {
    height: 50px;
    width: auto;
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 19px;
    border-right: 1px solid #e1e1e1;
}

.header-top__right-link {
    text-decoration: none;
    color: #363636;
}
.header-top__right li:hover {
    background-color: var(--primary-color);
}

.header-top__right li:hover .header-top__right-link {
    text-decoration: none;
    color: #fff;
}

/* HEADER CENTER */
.header__center {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__infor {
    display: flex;
    -webkit-display: flex;
}

.header__hotline {
    margin-left: 60px;
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
}

.hotline__title {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
}

.hotline__phone {
    font-size: 13px;
    color: #c0c0c0;
}
.header__search-bar {
    position: relative;
    display: inline-block;
    color: #fff;
    width: 320px;
    height: 50px;
    padding: 0;
    margin-left: 60px;
}

.header__search-bar .search__field {
    height: 50px;
    width: 320px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    padding: 20px;
    color: #e1e1e1; 
    font-size: 14px;
}

.search__field::-webkit-search-cancel-button {
    display: none;
}

.search__field:focus {
    border: 1px solid #e1e1e1;
    color: #252525; 
    outline: none;
}

.search__btn {
    background-color: transparent;
    border: none;
    color: #acacac;
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    padding: 8px;
    
}

/* NAVBAR */


.navbar {
    background-color: var(--background-color-2);
    padding: 0;
    
}
.navbar__container {
    position: relative;
}

.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 0;
}

.nav-item {
    padding: 30px;
    cursor: pointer;
    position: relative;
}

.nav-item:hover, .active {
    background-color: var(--primary-color);
}

.nav-link:hover {
    color: #fff;
    text-decoration: none;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.nav__cart {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

/* MEGA MENU */

.mega-menu {
    position: absolute;
    width: 1140px;
    left: 0;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 65px;
    z-index: 1;
    display: none;
}

.navbar__mega-menu:hover .mega-menu {
    display: block;
}
.mega-menu__content {
    display: flex;
    -webkit-display: flex;
    max-width: 1140px;
}

.mega-menu__list {
    flex: 1;
}

.mega-menu__img {
    margin-left: 20px;
}

.mega-menu__img img {
    height: 100%;
    width: auto;
    padding-right: 80px;
    padding-bottom: 30px;
}
.mega-menu__row {
    margin-bottom: 20px;
}
.mega-col__title {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.mega-col__title-icon {
    margin-right: 10px;
}

.mega-col__title-text {
    font-size: 14px;
    font-weight: 600;
}

.mega-col__list li{
    padding: 5px;
}

.mega-col__list li:hover{
    background-color: var(--primary-color);
}

.mega-col__list li:hover .mega-col__link{
    color: #fff;
}

.mega-col__list li:hover .mega-col__icon{
    color: #fff;
}
.mega-col__link {
    color: #898989;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.mega-col__icon {
    font-size: 11px;
    margin-right: 10px;

}

.mega-col__link:hover {
    text-decoration: none;
    color: #898989;
}


/* DROPDOWN MENU */
.intro__menu {
    position: absolute;
    margin-top: 30px;
    width: 200px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.navbar__has-child:hover .intro__menu {
    display: block;

}

.intro__link {
    color: #363636;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

.intro__icon {
    font-size: 11px;
    margin-right: 10px;
}

.intro__link:hover {
    text-decoration: none;
    color: #898989;
}
.intro__list li {
    padding: 20px;
    position: relative;
}
.intro__list li:hover{
    background-color: var(--primary-color);
}

.intro__list li:hover .intro__link{
    color: #fff;
}

.intro__list li:hover .intro__icon{
    color: #fff;
}

.system__menu {
    position: absolute;
    width: 200px;
    right: -200px;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1;
}

.intro__list li:hover .system__menu {
    display: block
}
.system__link {
    color: #363636;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, sans-serif;
}

.system__icon {
    font-size: 11px;
    margin-right: 10px;
}

.system__link:hover {
    text-decoration: none;
    color: #898989;
}
.system__list li {
    padding: 20px;
    position: relative;
}
.system__list li:hover{
    background-color: var(--primary-color);
}

.system__list li:hover .system__link{
    color: #fff;
}

.system__list li:hover .system__icon{
    color: #fff;
}

/* ============= MAIN =================== */

/* ============= SLIDER =================== */
.slider {
    margin-top: 30px;
}
.carousel-indicators li {
    background-color: #a1a1a1;
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    margin-bottom: 20px;   
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: #252525;
}

.slider__carousel {
    padding-right: 0;
}

.slider__col {
    padding: 0;
    display: flex;
    flex-direction: column;

}
.slider__list {
    display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    flex-grow: 1;
}
.slider__content {
    display: flex;
    -webkit-display: flex;
    border: 1px solid #e1e1e1;
    transition: background-color 0.3s, color 0.3s;
    flex-grow: 1;
}

.slider__content:hover {
    background-color: var(--primary-color);

}

.slider__content:hover .slider-list__icon {
    color: #fff;
}

.slider__content:hover .slider-list__title{
    color: #fff;
}

.slider__content:hover .slider-list__description {
    color: #fff;
}

.slider-list__icon {
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--primary-color);
    padding: 30px;
}
.slider-list__title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #252525;
    margin-bottom: 10px;
    padding-top: 25px;
}

.slider-list__description {
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #adadad;
}


.section__title {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.section__title-icon {
    margin-right: 8px;
}

.section__title-text {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
/* ========= FEATURED ========== */
.featured {
    margin-top: 60px;
}

.featured__top {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; 
}
.feature__category {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
.category--active {
    background-color: var(--background-color-2);

}

.category--active .category__text {
    color: var(--primary-color);
}

.category--active .category__icon .square {
    background-color: var(--primary-color);
}

.category__title:hover {
    background-color: var(--background-color-2);
}

.category__title:hover .category__text {
    color: var(--primary-color);
}

.category__title:hover .category__icon .square {
    background-color: var(--primary-color);
}
.category__title {
    border: 1px solid #ebebeb;

}

.category__title {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    padding: 20px;
}

.category__icon {
    margin-right: 8px;
}

.category__icon .square {
    background-color: #898989;
}

.category__text {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #939393;
}

.featured__product {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    max-height: 700px;
    overflow: hidden;
}

#featured__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}


#featured__list li {
    flex-basis: calc(34%-10px);
    margin-left: 18px;
    margin-bottom: 40px;
    

}

#featured__list li .featured__item {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    width: 265px;
    max-height: 400px;
}

.hidden {
    display: none;
}

.featured__item {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.item__img {
    height: 160px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.item__img img {
    height: 100%;
    width: auto;

}
.item__price {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 15px;
}

.item__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    margin-bottom: 10px;

}

.item__rating {
    margin-bottom: 10px;
}

.item__comment {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #898989;
    font-style: italic;
    margin-left: 8px;
}

.item__button {
    display: flex;
    gap: 10px;
    display: none;
}   

.item__btn {
    flex: 1;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 10px;
}



#featured__list li:hover .item__button {
    display: flex;
}

#featured__list li:hover {
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.featured__button button {
    border: 1px solid #898989;
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.featured__button button:focus {
    background-color: #000;
    color: #fff;
}


/* ========= NEW PRODUCTS ==========*/
.new {
    margin-top: 60px;
    margin-bottom: 100px;
}

.new__top {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; 
}

.new__button button {
    border: 1px solid #898989;
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.new__button button:focus {
    background-color: #000;
    color: #fff;
}

.new__main li {
    flex-basis: calc(50% - 20px);
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}

.new__main li:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.1);
}

#new__list {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    max-height: 510px;
    overflow: hidden;   
}

.new__item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 235px;
    background-color: #fff;
    display: flex;
}

.new__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
}

.new__img img {
    max-height: 100%;
    object-fit: cover;
    width: 80%;
}

.new__content {
    max-width: 280px;
    padding: 10px; /* Add padding for spacing within items */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #252525;
    font-weight: 600;
    margin-bottom: 10px;
}

.new__price {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 10px;
}

.new__rating {
    margin-bottom: 10px;
}

.new__comment {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #898989;
    font-style: italic;
}

.new__description {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #898989;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.new__button-list {
    display: flex;
}

.new__button-list button:first-child {
    margin-right: 8px;
}

.new__btn-list {
    height: 40px;
    width: 110px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    border: none;
}

/* ========== SẢN PHẨM MỚI ============= */
.newsp {
    margin-top: 60px;
    margin-bottom: 100px;
}

.newsp__top {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.newsp__top-btn {
    display: flex;
}

.newsp__button {
    margin-right: 20px;
}
.newsp__button button {
    border: 1px solid #898989;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #898989;
    width: 90px;
    height: 30px;
}

.newsp__button button:focus {
    background-color: var(--primary-color);
    color: #fff;
}

.newsp__prev-next button {
    border: 1px solid #898989;
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.newsp__prev-next button:focus {
    background-color: #000;
    color: #fff;
}

#newsp__list {
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
}

.newsp__item {
    padding: 40px 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 5px;
}

.newsp__img {
    height: 240px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.newsp__img img {
    height: 100%;
    width: auto;

}
.newsp__price {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 15px;
}

.newsp__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    margin-bottom: 10px;

}

.newsp__rating {
    margin-bottom: 10px;
}

.newsp__comment {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #898989;
    font-style: italic;
    margin-left: 8px;
}

.newsp__content-btn {
    display: flex;
    gap: 10px;
    display: none;
}   

.newsp__ct-btn {
    flex: 1;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 10px;
}

.newsp__item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.newsp__item:hover .newsp__content-btn {
    display: flex;
}

.newsp__banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.newsp__banner img {
    width: calc(50% - 10px);
    height: auto;
}

/* ==== SẢN PHẢM BÁN CHẠY  ====*/
.hot {
    margin-top: 60px;
    margin-bottom: 100px;
}

.hot__top {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.hot__top-btn {
    display: flex;
}

.hot__button {
    margin-right: 20px;
}
.hot__button button {
    border: 1px solid #898989;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #898989;
    width: 90px;
    height: 30px;
}

.hot__button button:focus {
    background-color: var(--primary-color);
    color: #fff;
}

.hot__prev-next button {
    border: 1px solid #898989;
    background-color: transparent;
    height: 30px;
    width: 30px;
    font-size: 14px;
    color: #898989;
    cursor: pointer;
}

.hot__prev-next button:focus {
    background-color: #000;
    color: #fff;
}

.hot__banner {
    width: 100%;
}

.hot__banner img {
    width: 100%;
    height: auto;
}

/* ========== REGISTER ========== */

.register {
    z-index: 0;
    margin-top: 30px;
}
.register__top-title {
    font-size: 14px;
    color: #252525;
    margin-bottom: 65px;
    
}

.register__link{
    color: #898989;
    margin-right: 5px;
}

.register__icon {
    color: #898989;
}

.register__link:hover {
    color: #252525;
}
.checkbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.checkbox__label {
    color: #898989;
    font-size: 14px;
    font-style: italic;
    margin-left: 10px;
    font-family: Arial, sans-serif;
}


.form-group {
    margin-top: 30px;
    margin-bottom: 100px;
}

.form-label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 5px;
}

.required-label::after {
    content: "*";
    color: red;
}

.form-control {
    display: inline-block;
    width: 95%;
    height: 50px;
    vertical-align: middle;
}

.registration__title {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #252525;
    font-weight: bold;
    margin: 40px 0;
}

.form__btn {
    border: none;
    width: 125px;
    height: 45px;
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin-right: 10px;
}

.btn--bg-black {
    background-color: #252525;
}

.btn--bg-primary {
    background-color: var(--primary-color);
}

/* ============== LOGIN =============== */
.login {
    margin-top: 30px;

}

.login__top-title {
    font-size: 14px;
    color: #252525;
    margin-bottom: 65px;
    
}

.login__link{
    color: #898989;
    margin-right: 5px;
}

.login__icon {
    color: #898989;
}

.login__link:hover {
    color: #252525;
}

.login__content {
    display: flex;
    -webkit-display: flex;
}

.login__title {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #252525;
    font-weight: bold;
    margin: 40px 0;
}

.login__question{
    display: flex;
    -webkit-display: flex;
    width: 95%;
    justify-content: space-between;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-top: 20px;
}

.login-checkbox__label{
    color: #adadad;
    margin-left: 5px;
    font-weight: 400;
}

.login__forgot {
    color: var(--primary-color);
    text-decoration: underline;
    font-style: italic;
}
.login__register {
    flex: 1;
}

.login__form {
    flex: 1;
}
.login__description {
    color: #898989;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
}

/* ============= BRAND ================= */
.brand {
    height: 170px;
    background-color: #f7f7f7;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand .brand__carousel {
    white-space: nowrap;
    
}
.brand__carousel {
    overflow: hidden;
}
.brand__carousel img {
    max-height: 120px;
    width : calc((100%-90)/5);
    margin: 0 45px;
}

.brand__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand__prev, #brand__next {
    font-size: 24px;
    color: #909090;
    cursor: pointer;
}

#brand__prev:hover, #brand__next:hover {
    color: #000;
}
#brand__prev {
    margin-right: 20px;
}

#brand__next {
    margin-left: 20px;
}
/* ============= NEWSLETTER =========== */
.newsletter {
    height: 225px;
    width: 100%;
    position: relative;
    text-align: center;
    justify-content: center;
}

.newsletter::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    display: flex;
}

.newsletter__content > div {
    position: relative;
    z-index: 1;
}

.newsletter__content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Canh giữa ngang */
    justify-content: center; /* Canh giữa dọc */
    height: 100%;
}
.newsletter__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 200;
    margin-bottom: 30px;
}

.newsletter__input {
    font-family: "Roboto", sans-serif;
    width: 615px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 300;
    padding-left: 20px;
}

.newsletter__input::placeholder {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #acacac;
}

.newsletter__input:focus {
    border: 1px solid #e1e1e1;
    color: #252525; 
    outline: none;
}

.newsletter__btn {
    height: 50px;
    width: 150px;
    color: #fff;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
/* ============= FOOTER =============== */
.footer {
    background-color: var(--background-color-1);
    padding: 62px 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.footer-top__row {
    display: flex;
    justify-content: space-between;
    -webkit-display: flex;
    -webkit-justify-content: space-between;
    margin-bottom: 38px;
}


.footer-col__title {
    display: flex;
    -webkit-display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.footer-col__title-icon {
    margin-right: 8px;
}
.footer-col__title-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.footer-col__content {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 500;
    color: var(--text-content);
    margin-bottom: 40px;
    max-width: 300px;
}

.footer-col__list li {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 22px;
}

.footer-col__icon {
    color: var(--text-title);
    font-size: 13px;
    margin-right: 10px;
}

.footer-col__description {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 500;
    color: var(--text-content);
}

.footer-col__link {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 500;
    color: var(--text-content);
}

.footer-col__list-2 li {
    margin-bottom: 22px;
}
.footer-col__list-2 a{
    display: flex;
    -webkit-display: flex;
    align-items: center;
}

.footer__separate {
    border-top: 1px solid #e1e1e1;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer__bottom {
    display: flex;
    -webkit-display: flex;
    margin-top: 33px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.footer-bottom__col {
    /* margin-right: 100px; */
}

.footer-bottom__title {
    font-family: 'Arial';
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 22px;
    
}

.footer-bottom__thanhtoan-grid {
    display: grid;
    -webkit-display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.footer-bottom__thanhtoan-grid img {
    max-width: 100%;
    height: auto;
}

.footer-bottom__giaidap {
    display: flex;
    -webkit-display: flex;
}

.footer-giaidap__col {
    display: flex;
    -webkit-display: flex;
    margin-right: 48px;
    margin-top: 8px;
}

.footer-giaidap__icon {
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    -webkit-display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
}

.footer-giaidap__icon i {
    font-size: 16px;
    padding: 20px;
    color: var(--primary-color);

}

.footer-giaidap__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.footer-giaidap__content-title {

}


.footer-giaidap__content-phone {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}

/* ========= LIST, GRID PRODUCT ========== */
.product-category {
    margin-top: 30px;
}

.product-category__top {
    font-size: 14px;
    color: #252525;
    margin-bottom: 65px;
}

.product-category__link{
    color: #898989;
    margin-right: 5px;
}

.product-category__icon {
    color: #898989;
}

.product-category__link:hover {
    color: #252525;
}

.product-category--active .product-category__icon .product-category__icon {
    color: var(--primary-color);
}

.product-category--active {
    background-color: var(--background-color-2);

}

.product-category--active .product-category__text {
    color: var(--primary-color);
}

.product-category--active .product-category__icon .square {
    background-color: var(--primary-color);
}

.product-category__title:hover {
    background-color: var(--background-color-2);
}

.product-category__title:hover .product-category__text {
    color: var(--primary-color);
}

.product-category__title:hover .product-category__icon .square {
    background-color: var(--primary-color);
}
.product-category__title {
    border: 1px solid #ebebeb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.product-category__title {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 20px;
}

.product-category__icon {
    margin-right: 8px;
}

.product-category__icon .square {
    background-color: #898989;
}

.product-category__text {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #939393;
}
.product-category__category, .product-category__price, .product-category__color {
    margin-bottom: 30px;
}

.color-square {
    height: 18px;
    width: 18px;
    background-color: #acacac;
}

.square--bg-red {
    background-color: #e61010;
}

.square--bg-yellow {
    background-color: #f5bd10;
}

.square--bg-blue {
    background-color: #0685ca;
}

.square--bg-black {
    background-color: #252525;
}

.product-category__free {
    margin-bottom: 100px;
}

#product-category__free-list li {
    display: flex;
    display: -webkit-flex;
    height: 120px;
    border: 1px solid #ebebeb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.free__img {
    height: 120px;
    width: 80px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 15px;
}

.free__img img {
    max-height: 120px;
    object-fit: cover;
    max-width: 80px;
}

.free__content {
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
}

.free__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    margin-bottom: 10px;
}

.free__price {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ff0000;
    font-weight: 600;
}

.product-category__control {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.sort__text, .number__text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 500;
    margin-right: 10px;
}

.control__select {
    display: flex;
    display: -webkit-flex;
}

.select__sort {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-right: 15px;
}

.select__number {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.select__sort select {
    width: 165px;
    height: 35px;
    border: 1px solid #cccccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #898989;
    padding-left: 10px;
}

.select__sort select:focus {
    border: 1px solid #cccccc;
}

.select__sort option {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #898989;
    padding: 10px;
}

.select__number select {
    width: 100px;
    height: 35px;
    border: 1px solid #cccccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #898989;
    padding-left: 10px;
}

.select__number option {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #898989;
    padding: 10px;
}

.control__choose button {
    height: 32px;
    width: 32px;
    border: 1px solid #cccccc;
    color: #898989;
    background-color: transparent;
    transition: all 0.3s ease-out;
}

.control__choose button:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.control-btn.active-btn {
    color: var(--primary-color);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
    margin-top: 30px;

}
.gallery__item {
    display: flex;
    height: 245px;
    box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0.05);
    transition: all 0.2s ease-out;
}
.gallery__item:hover{
    box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}
.gallery__img {
    height: 245px;
    width: 195px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    padding: 10px;
}

.gallery__img img {
    height: 80%;
    width: auto;
    object-fit: cover;
}

.gallery__content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    padding-right: 30px;
}

.gallery__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #252525;
    font-weight: 600;
    margin-bottom: 15px;
}

.gallery__rating {
    margin-bottom: 15px;
}

.gallery__comment {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #898989;
    font-style: italic;
    margin-bottom:15px;
}

.gallery__description {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #898989;
    margin-bottom: 10px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.gallery__price {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 15px;
}

.gallery__button button{
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    width: 110px;
    height: 35px;
    border: none;
    margin-right: 5px;

}
.grid-display {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.grid-display .gallery__item {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    height: auto;
    width: 265px;
}

.grid-display .gallery__img {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.grid-display .gallery__img img {
    max-height: 180px;
    max-width: 100%;
    object-fit: cover;
}

.grid-display .gallery__content {
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    align-items: center;
    padding-left: 30px;
}

.grid-display .gallery__description {
    display: none;
}



.grid-display .gallery__price {
    font-size: 14px;
    font-weight: 600;
    order: 1;
}

.grid-display .gallery__name {
    order: 2;
}

.grid-display .gallery__rating {
    order: 3;
}

.grid-display .gallery__button {
    order: 4;
    display: none;
}

.grid-display .gallery__item:hover .gallery__button {
    display: flex;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-bottom: 30px
  }
  
.pagination button {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #898989;
    margin: 0 5px;
    background-color: transparent;
    border: 1px solid #cccccc;
    cursor: pointer;
    padding: 5px 10px;
}
  
.pagination button:hover {
    background-color: var(--primary-color);
    color: #fff;
}
  
.pagination .page-number.active-page-btn {
    background-color: var(--primary-color);
    color: #fff;
}

/* ============= RESPONSIVE =============== */
/* MOBILE */
@media (max-width: 576px)
{
    /* =========== HEADER ============ */
    .header-top__container {
        display: block;
        -webkit-display: block;
    }
    .header-top__left {
        display: none;
    }

    .header-top__right {
        display: flex;
        -webkit-display: flex;
        border: none;
    }

    .header-top__right li {
        flex: 1;
        border: none;
    }

    .header-top__right li:first-child {
        border-right: 1px solid #e1e1e1;
    }

    .header__center {
        flex-direction: column;
        justify-content: center;
        height: 170px;
    }

    .header__infor {

    }

    .header__logo {
        flex: 1;
        margin-top: 10px;
        margin-bottom: 15px;
        
    }

    .header__logo img{
        height: auto;
        width: auto;
    }
    .header__hotline {
        margin: 0;
        padding: 0;
        display: none;
    }

    .header__search-bar {
        flex: 1;
        width: 290px;
        height: 50px;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }

    .header__search-bar .search__field {
        height: 50px;
        width: 290px;
        border: 1px solid #e1e1e1;
        border-radius: 25px;
        padding: 10px;
        color: #e1e1e1; 
        font-size: 14px;
    }

    .navbar__mega-menu:hover .mega-menu {
        display: none;
    }

    .navbar__has-child:hover .intro__menu {
        display: none;
    
    }

    .intro__list li:hover .system__menu {
        display: none;
    }

    
    /* ========== NEWSLETTER ===========  */
    .newsletter__title {
        font-size: 20px;
        width: 80%;
        font-weight: 700;
    }
    .newsletter__content {
        display: flex;
        flex-direction: column;
    }
    .newsletter__input {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter__input::placeholder {
        text-align: center;
    }

    .newsletter__btn {
        width: 100%;
    }

    /* =========== FOOTER ============ */
    .footer {
        padding: 30px 0;
    }
    .footer-top__row {
        display: block;
        -webkit-display: block;
        margin-bottom: 38px;
    }
    
    .footer-col__title {
        margin-bottom: 20px;
    }

    .footer-col__content {
        margin-bottom: 20px;
    }

    .footer-col__list li {
        margin-bottom: 20px;
    }

    .footer-col__list-2 li {
        margin-bottom: 20px;
    }

    .footer__bottom {
        display: block;
        -webkit-display: block;
        margin-bottom: 20px;
    }

    .footer-bottom__thanhtoan-grid {
        display: grid;
        -webkit-display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 20px;
    }

    .footer-bottom__giaidap {
        display: block;
        -webkit-display: block;
        margin-bottom: 20px;
    }

    .footer-giaidap__col {
        margin-bottom: 20px;
    }

    .slider__col {
        padding: 0 20px;
    }

    .slider__carousel {
        padding: 0 20px;
    }

    .slider-list__content {
        padding: 25px 10px 25px 20px;
    }

    .slider-list__title {
        padding-top: 0;
    }
}

